body {
    font-size: 14px;
}

@tailwind base;
@tailwind components;

@import '~vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css';
@import "~vue-select/src/scss/vue-select.scss";
@import 'v-tooltip.scss';
@import 'transition.scss';
@import 'sidebar.scss';

.card-header {
    @apply pb-4;

    h1 {
        @apply text-2xl text-black font-bold;
    }
}

.table {
    @apply text-left w-full;

    tr.header {
        @apply bg-gray-300 border-b border-gray-400;
    }

    tr {
        padding: 2px;
    }

    th, td {
        @apply align-top;
        padding: 3px;
    }

    &.columned tr:not(.header) th {
        @apply text-gray-700 font-normal;
    }
}

.input-text {
    @apply p-1 border border-gray-400 w-full rounded;

    &:focus {
        @apply shadow-outline;
    }
}

.vs__dropdown-toggle {
    @apply bg-white border border-gray-400 w-full rounded;
}

.input-select {
    @apply p-1 bg-white border border-gray-400 w-full rounded;
}

.button-white {
    @apply bg-white text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow;

    &:hover {
        @apply bg-gray-100;
    }
}

.button-gray {
    @apply bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded;

    &:hover {
        @apply bg-gray-500;
    }
}

details {
    @apply mb-2;

    summary {
        @apply text-black font-bold;
    }
}

.tag {
    @apply mr-1 inline-block font-bold uppercase p-1 rounded text-xs;
}

@tailwind utilities;
