.navbar-grid {
    @apply mt-2 ml-1;
    display: grid;

    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;

    a {
        @apply no-underline py-2;
        display: contents;

        &.router-link-active span {
            @apply font-bold;
        }
    }

    i {
        @apply mr-3 text-gray-800 text-center m-auto;
        grid-column: 1;
    }

    span {
        @apply text-black m-auto w-full;
        grid-column: 2;
    }
}
